<div class="flex">
    <div class="panel-1">
    </div>

    <div class="panel-2">
        <header class="header">
            <div class="header-flex">
                <a href="/"><img src="/assets/GhostBot_scrawl_0001_transparent.png" width="200" height="100"/></a>
                <div class="link-pointer" onclick='scrollToElement("music_section")'><div class="header-list-item">Music</div></div>
                <div class="link-pointer" onclick='scrollToElement("about_section")'><div class="header-list-item">About</div></div>
                <div class="link-pointer" onclick='scrollToElement("contact_section")'><div class="header-list-item">Contact</div></div>
            </div>
        </header>

        <div id="home_section" class="body-contents">
            <h1 class="header-margin-0">Home Section</h1>
            <div>Adam's super cool amazing electric home page here</div>
        </div>

        <div id="music_section" class="body-contents">
            <h1 class="header-margin-0">Music Section</h1>
            <div>Adam's super cool amazing electric music here</div>
        </div>

        <div id="about_section" class="body-contents">
            <h1 class="header-margin-0">About Section</h1>
            <div>Adam's super cool amazing electric biography and life story here</div>
        </div>

        <div id="contact_section" class="body-contents">
            <h1 class="header-margin-0">Contact Section</h1>
            <div>Adam's super cool amazing electric phone number or email or whatever here</div>
        </div>
    </div>

    <div class="panel-3">
    </div>
</div>