<div class="flex">
    <div class="panel-1">
    </div>

    <div class="panel-2">
        <div class="body-section">
            <div id="home_section" class="body-contents">
                <h1 class="margin-top-0">Home Section</h1>

                <div>
                    <p class="home-text">
                        Born from a robot gaining consciousness (or perhaps a consciousness being placed within a robot) Ghost Bot tells the
                        story of an individual looking to find its purpose in life through music. 
                    </p>    

                    <p class="quote-text">“I see a light within the flame…” - Ghost Bot</p>
                </div>
            </div>

            <div id="music_section" class="body-contents">
                <h1 class="margin-top-0">Featured Releases</h1>

                <iframe class="main-video-style" src="https://www.youtube.com/embed/sfSS7RG8L9A">
                </iframe>

                <div class="flex">
                    <iframe class="secondary-video-style margin-right-1" src="https://www.youtube.com/embed/nTQjVDrdka8"></iframe>
                    <iframe class="secondary-video-style" src="https://www.youtube.com/embed/O8cdGeSXjgA"></iframe>
                </div>

                <div class="flex">
                    <iframe class="secondary-video-style margin-right-1" src="https://www.youtube.com/embed/SX0b-Sc0b_A"></iframe>
                    <iframe class="secondary-video-style" src="https://www.youtube.com/embed/XUBgeAMOoJ0"></iframe>
                </div>

                <div class="flex">
                    <iframe class="secondary-video-style margin-right-1" src="https://www.youtube.com/embed/BuNBcPdmCZU"></iframe>
                    <iframe class="secondary-video-style" src="https://www.youtube.com/embed/LL4ZWOLvk4k"></iframe>
                </div>
            </div>

            <div id="about_section" class="body-contents">
                <h1 class="margin-top-0">About Section</h1>
                <div>
                    <p class="home-text">
                        Ghost Bot stylistically explores a fusion of 
                        catchy melodies and electronic sounds/synths with lyrical content expressing an emotional journey. 
                        Inspired by groups like “Daft Punk”, “Gorillaz”, and “The Glitch Mob” Ghost Bot honors the electronic greats while
                        also making new ground in the genre.
                    </p>
                </div>
            </div>

            <div id="contact_section" class="body-contents">
                <h1 class="margin-top-0">Contact Section</h1>
                <div>For business inquiries: ghostbot.inquiries@gmail.com</div>
            </div>
        </div>
    </div>

    <div class="panel-3">
    </div>
</div>

<div class="flex footer">
    Website Made by Patrick :D
</div>