body { 
    background-color: black;
}

.header { 
    background-color: grey;
    padding: 0.25rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.header-flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.header-list-item {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: xx-large;
    color: #00ffe0;

    &:hover {
        color: white;
    }
    &:visited {
        color: #04fcb2;
    }
}

.no-link-style {
    text-decoration: none;
}

.body-contents {
    background-color: grey;
    border-radius: 1rem;
    padding: 1rem;

}

.header-margin-0 {
    margin-top: 0px;
}