body { 
    background-color: black;
    margin: 0;
    padding: 0;

    background-image: url('helmet_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    scroll-margin-top: 125px;
}

.flex { 
    display: flex;
}

.panel-1 {
    flex: 1;
}

.panel-2 {
    flex: 1;
    flex-grow: 3;
}


.panel-3 {
    flex: 1;
}

.header-section {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header { 
    background-color: grey;
    padding: 0.25rem;
}

.header-flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.header-list-item {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: xx-large;
    color: #00ffe0;

    &:hover {
        color: white;
    }
    &:visited {
        color: #04fcb2;
    }
}

.link-pointer {
    cursor: pointer;
}

.body-section {
    margin-top: 8rem;
    border: 2px;
}

.body-contents {
    background-color: grey;
    border-radius: 1rem;
    padding: 1rem;
    height: 400px;
    margin-top: 1rem;
}

.header-margin-0 {
    margin-top: 0px;
}